* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Inter", sans-serif;
  color: #1c1b18;
}

a {
  color: #282882;
}

a:hover {
  color: #171760;
}

img {
  max-width: 100%;
}

.hero-copy {
  display: none;
}

@media (min-width: 640px) {
  .hero-copy {
    display: block !important;
  }
}
